<div class="container">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light"
    *ngIf="_auth.loggedIn"
  >
    <a class="navbar-brand" href="/admin">Dashboard</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/add-new-car"
            >Add New Car <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item dropdown float-right">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ firstname }}
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="nav-link" href="#" (click)="Logout()">Logout </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
